Eva/bin/Debug/net9.0/Avalonia.Base.dll
Eva/bin/Debug/net9.0/Avalonia.Controls.ColorPicker.dll
Eva/bin/Debug/net9.0/Avalonia.Controls.DataGrid.dll
Eva/bin/Debug/net9.0/Avalonia.Controls.dll
Eva/bin/Debug/net9.0/Avalonia.DesignerSupport.dll
Eva/bin/Debug/net9.0/Avalonia.Desktop.dll
Eva/bin/Debug/net9.0/Avalonia.Diagnostics.dll
Eva/bin/Debug/net9.0/Avalonia.Dialogs.dll
Eva/bin/Debug/net9.0/Avalonia.dll
Eva/bin/Debug/net9.0/Avalonia.Fonts.Inter.dll
Eva/bin/Debug/net9.0/Avalonia.FreeDesktop.dll
Eva/bin/Debug/net9.0/Avalonia.Markup.dll
Eva/bin/Debug/net9.0/Avalonia.Markup.Xaml.dll
Eva/bin/Debug/net9.0/Avalonia.Metal.dll
Eva/bin/Debug/net9.0/Avalonia.MicroCom.dll
Eva/bin/Debug/net9.0/Avalonia.Native.dll
Eva/bin/Debug/net9.0/Avalonia.OpenGL.dll
Eva/bin/Debug/net9.0/Avalonia.Remote.Protocol.dll
Eva/bin/Debug/net9.0/Avalonia.Skia.dll
Eva/bin/Debug/net9.0/Avalonia.Themes.Fluent.dll
Eva/bin/Debug/net9.0/Avalonia.Themes.Simple.dll
Eva/bin/Debug/net9.0/Avalonia.Vulkan.dll
Eva/bin/Debug/net9.0/Avalonia.Win32.dll
Eva/bin/Debug/net9.0/Avalonia.X11.dll
Eva/bin/Debug/net9.0/Eva
Eva/bin/Debug/net9.0/Eva.deps.json
Eva/bin/Debug/net9.0/Eva.dll
Eva/bin/Debug/net9.0/Eva.pdb
Eva/bin/Debug/net9.0/Eva.runtimeconfig.json
Eva/bin/Debug/net9.0/HarfBuzzSharp.dll
Eva/bin/Debug/net9.0/MicroCom.Runtime.dll
Eva/bin/Debug/net9.0/SkiaSharp.dll
Eva/bin/Debug/net9.0/Tmds.DBus.Protocol.dll
Eva/bin/Debug/net9.0/runtimes/linux-arm/native/libHarfBuzzSharp.so
Eva/bin/Debug/net9.0/runtimes/linux-arm/native/libSkiaSharp.so
Eva/bin/Debug/net9.0/runtimes/linux-arm64/native/libHarfBuzzSharp.so
Eva/bin/Debug/net9.0/runtimes/linux-arm64/native/libSkiaSharp.so
Eva/bin/Debug/net9.0/runtimes/linux-musl-x64/native/libHarfBuzzSharp.so
Eva/bin/Debug/net9.0/runtimes/linux-musl-x64/native/libSkiaSharp.so
Eva/bin/Debug/net9.0/runtimes/linux-x64/native/libHarfBuzzSharp.so
Eva/bin/Debug/net9.0/runtimes/linux-x64/native/libSkiaSharp.so
Eva/bin/Debug/net9.0/runtimes/osx/native/libAvaloniaNative.dylib
Eva/bin/Debug/net9.0/runtimes/osx/native/libHarfBuzzSharp.dylib
Eva/bin/Debug/net9.0/runtimes/osx/native/libSkiaSharp.dylib
Eva/bin/Debug/net9.0/runtimes/win-arm64/native/av_libglesv2.dll
Eva/bin/Debug/net9.0/runtimes/win-arm64/native/libHarfBuzzSharp.dll
Eva/bin/Debug/net9.0/runtimes/win-arm64/native/libSkiaSharp.dll
Eva/bin/Debug/net9.0/runtimes/win-x64/native/av_libglesv2.dll
Eva/bin/Debug/net9.0/runtimes/win-x64/native/libHarfBuzzSharp.dll
Eva/bin/Debug/net9.0/runtimes/win-x64/native/libSkiaSharp.dll
Eva/bin/Debug/net9.0/runtimes/win-x86/native/av_libglesv2.dll
Eva/bin/Debug/net9.0/runtimes/win-x86/native/libHarfBuzzSharp.dll
Eva/bin/Debug/net9.0/runtimes/win-x86/native/libSkiaSharp.dll
Eva/bin/Release/net9.0/Avalonia.Base.dll
Eva/bin/Release/net9.0/Avalonia.Controls.dll
Eva/bin/Release/net9.0/Avalonia.DesignerSupport.dll
Eva/bin/Release/net9.0/Avalonia.Desktop.dll
Eva/bin/Release/net9.0/Avalonia.Dialogs.dll
Eva/bin/Release/net9.0/Avalonia.dll
Eva/bin/Release/net9.0/Avalonia.Fonts.Inter.dll
Eva/bin/Release/net9.0/Avalonia.FreeDesktop.dll
Eva/bin/Release/net9.0/Avalonia.Markup.dll
Eva/bin/Release/net9.0/Avalonia.Markup.Xaml.dll
Eva/bin/Release/net9.0/Avalonia.Metal.dll
Eva/bin/Release/net9.0/Avalonia.MicroCom.dll
Eva/bin/Release/net9.0/Avalonia.Native.dll
Eva/bin/Release/net9.0/Avalonia.OpenGL.dll
Eva/bin/Release/net9.0/Avalonia.Remote.Protocol.dll
Eva/bin/Release/net9.0/Avalonia.Skia.dll
Eva/bin/Release/net9.0/Avalonia.Themes.Fluent.dll
Eva/bin/Release/net9.0/Avalonia.Vulkan.dll
Eva/bin/Release/net9.0/Avalonia.Win32.dll
Eva/bin/Release/net9.0/Avalonia.X11.dll
Eva/bin/Release/net9.0/Eva
Eva/bin/Release/net9.0/Eva.deps.json
Eva/bin/Release/net9.0/Eva.dll
Eva/bin/Release/net9.0/Eva.pdb
Eva/bin/Release/net9.0/Eva.runtimeconfig.json
Eva/bin/Release/net9.0/HarfBuzzSharp.dll
Eva/bin/Release/net9.0/ImGui.NET.dll
Eva/bin/Release/net9.0/MicroCom.Runtime.dll
Eva/bin/Release/net9.0/Microsoft.DotNet.PlatformAbstractions.dll
Eva/bin/Release/net9.0/Microsoft.Extensions.DependencyModel.dll
Eva/bin/Release/net9.0/NativeLibraryLoader.dll
Eva/bin/Release/net9.0/Newtonsoft.Json.dll
Eva/bin/Release/net9.0/SharpGen.Runtime.COM.dll
Eva/bin/Release/net9.0/SharpGen.Runtime.dll
Eva/bin/Release/net9.0/SkiaSharp.dll
Eva/bin/Release/net9.0/Tmds.DBus.Protocol.dll
Eva/bin/Release/net9.0/Veldrid.dll
Eva/bin/Release/net9.0/Veldrid.ImGui.dll
Eva/bin/Release/net9.0/Veldrid.MetalBindings.dll
Eva/bin/Release/net9.0/Veldrid.OpenGLBindings.dll
Eva/bin/Release/net9.0/Veldrid.SDL2.dll
Eva/bin/Release/net9.0/vk.dll
Eva/bin/Release/net9.0/Vortice.D3DCompiler.dll
Eva/bin/Release/net9.0/Vortice.Direct3D11.dll
Eva/bin/Release/net9.0/Vortice.DirectX.dll
Eva/bin/Release/net9.0/Vortice.DXGI.dll
Eva/bin/Release/net9.0/Vortice.Mathematics.dll
Eva/bin/Release/net9.0/linux-x64/publish/EvaEngine
Eva/bin/Release/net9.0/linux-x64/publish/EvaEngine.dbg
Eva/bin/Release/net9.0/linux-x64/publish/libcimgui.so
Eva/bin/Release/net9.0/linux-x64/publish/libveldrid-spirv.so
Eva/bin/Release/net9.0/runtimes/linux-arm/native/libHarfBuzzSharp.so
Eva/bin/Release/net9.0/runtimes/linux-arm/native/libSkiaSharp.so
Eva/bin/Release/net9.0/runtimes/linux-arm64/native/libHarfBuzzSharp.so
Eva/bin/Release/net9.0/runtimes/linux-arm64/native/libSkiaSharp.so
Eva/bin/Release/net9.0/runtimes/linux-musl-x64/native/libHarfBuzzSharp.so
Eva/bin/Release/net9.0/runtimes/linux-musl-x64/native/libSkiaSharp.so
Eva/bin/Release/net9.0/runtimes/linux-x64/native/libcimgui.so
Eva/bin/Release/net9.0/runtimes/linux-x64/native/libHarfBuzzSharp.so
Eva/bin/Release/net9.0/runtimes/linux-x64/native/libSkiaSharp.so
Eva/bin/Release/net9.0/runtimes/osx/native/libAvaloniaNative.dylib
Eva/bin/Release/net9.0/runtimes/osx/native/libcimgui.dylib
Eva/bin/Release/net9.0/runtimes/osx/native/libHarfBuzzSharp.dylib
Eva/bin/Release/net9.0/runtimes/osx/native/libSkiaSharp.dylib
Eva/bin/Release/net9.0/runtimes/osx-x64/native/libsdl2.dylib
Eva/bin/Release/net9.0/runtimes/win-arm64/native/av_libglesv2.dll
Eva/bin/Release/net9.0/runtimes/win-arm64/native/libHarfBuzzSharp.dll
Eva/bin/Release/net9.0/runtimes/win-arm64/native/libSkiaSharp.dll
Eva/bin/Release/net9.0/runtimes/win-x64/native/av_libglesv2.dll
Eva/bin/Release/net9.0/runtimes/win-x64/native/cimgui.dll
Eva/bin/Release/net9.0/runtimes/win-x64/native/libHarfBuzzSharp.dll
Eva/bin/Release/net9.0/runtimes/win-x64/native/libSkiaSharp.dll
Eva/bin/Release/net9.0/runtimes/win-x64/native/SDL2.dll
Eva/bin/Release/net9.0/runtimes/win-x86/native/av_libglesv2.dll
Eva/bin/Release/net9.0/runtimes/win-x86/native/cimgui.dll
Eva/bin/Release/net9.0/runtimes/win-x86/native/libHarfBuzzSharp.dll
Eva/bin/Release/net9.0/runtimes/win-x86/native/libSkiaSharp.dll
Eva/bin/Release/net9.0/runtimes/win-x86/native/SDL2.dll
Eva/obj/Eva.csproj.nuget.dgspec.json
Eva/obj/Eva.csproj.nuget.g.props
Eva/obj/Eva.csproj.nuget.g.targets
Eva/obj/project.assets.json
Eva/obj/project.nuget.cache
Eva/obj/project.packagespec.json
Eva/obj/rider.project.model.nuget.info
Eva/obj/rider.project.restore.info
Eva/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Eva/obj/Debug/net9.0/apphost
Eva/obj/Debug/net9.0/Eva.AssemblyInfo.cs
Eva/obj/Debug/net9.0/Eva.AssemblyInfoInputs.cache
Eva/obj/Debug/net9.0/Eva.assets.cache
Eva/obj/Debug/net9.0/Eva.csproj.AssemblyReference.cache
Eva/obj/Debug/net9.0/Eva.csproj.CoreCompileInputs.cache
Eva/obj/Debug/net9.0/Eva.csproj.FileListAbsolute.txt
Eva/obj/Debug/net9.0/Eva.csproj.Up2Date
Eva/obj/Debug/net9.0/Eva.dll
Eva/obj/Debug/net9.0/Eva.GeneratedMSBuildEditorConfig.editorconfig
Eva/obj/Debug/net9.0/Eva.genruntimeconfig.cache
Eva/obj/Debug/net9.0/Eva.pdb
Eva/obj/Debug/net9.0/Avalonia/Eva.dll
Eva/obj/Debug/net9.0/Avalonia/Eva.pdb
Eva/obj/Debug/net9.0/Avalonia/references
Eva/obj/Debug/net9.0/Avalonia/resources
Eva/obj/Debug/net9.0/Avalonia/Resources.Inputs.cache
Eva/obj/Debug/net9.0/ref/Eva.dll
Eva/obj/Debug/net9.0/refint/Eva.dll
Eva/obj/Debug/net9.0/refint/Avalonia/Eva.dll
Eva/obj/Release/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
Eva/obj/Release/net9.0/apphost
Eva/obj/Release/net9.0/Eva.AssemblyInfo.cs
Eva/obj/Release/net9.0/Eva.AssemblyInfoInputs.cache
Eva/obj/Release/net9.0/Eva.assets.cache
Eva/obj/Release/net9.0/Eva.csproj.AssemblyReference.cache
Eva/obj/Release/net9.0/Eva.csproj.CoreCompileInputs.cache
Eva/obj/Release/net9.0/Eva.csproj.FileListAbsolute.txt
Eva/obj/Release/net9.0/Eva.csproj.Up2Date
Eva/obj/Release/net9.0/Eva.dll
Eva/obj/Release/net9.0/Eva.GeneratedMSBuildEditorConfig.editorconfig
Eva/obj/Release/net9.0/Eva.genruntimeconfig.cache
Eva/obj/Release/net9.0/Eva.pdb
Eva/obj/Release/net9.0/Avalonia/Eva.dll
Eva/obj/Release/net9.0/Avalonia/Eva.pdb
Eva/obj/Release/net9.0/Avalonia/references
Eva/obj/Release/net9.0/Avalonia/resources
Eva/obj/Release/net9.0/Avalonia/Resources.Inputs.cache
Eva/obj/Release/net9.0/ref/Eva.dll
Eva/obj/Release/net9.0/refint/Eva.dll
Eva/obj/Release/net9.0/refint/Avalonia/Eva.dll
